.home-page {
    padding: 0 2rem;
}

.home-page .title {
    font-size: 28px;
    color: #417690;
    margin: 5px 0 25px 0;
}

.home-page .subtitle {
    font-style: italic;
    margin-top: -10px;
}

.home-page .links {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.home-page .links a {
    width: 550px;
    padding: 12px 15px;
    color: #000;
    border-top: 1px solid #d6d4d4;
    border-bottom: 1px solid #d6d4d4;
    -webkit-text-stroke: .5px;
    letter-spacing: 1px;

    &:hover {
        background: #e5e6ea;
    }
}