<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles/style.css">
    <title>{{title}}</title>
</head>

<body>

    <header>
        <a href="/" class="logo">TRAVEL</a>

        <div class="auth">
            {% if user %}
            <a href="/docs">Docs</a>
            <a href="/users/logout">Logout</a>
            {% else %}
            <a href="/users/login">Login</a>
            <a href="/users/register">Register</a>
            {% endif %}
        </div>
    </header>

    <div class="container">
        {% include 'sidebar.html' %}

        <div class="block-content">
            {% block content %} {% endblock %}
        </div>
    </div>

</body>

</html>